/** 
 * Global css is imported inside gatbsy-browser.js 
 */

:root {
  --extra-large: 1280px;
  --large: 960px;
  --medium: 600px;
  --small: 375px;
  --bolder: 700;
  --normal: 500;
  --lighter: 400;
  --primary: var(--pink);
  --black: #2f243a;
  --grey: #757780;
  --lightgrey: #f2f2f3;
  --pale: #f7f8f9;
  --pink: #ee4266;
  --robin: #93e1d8;
  --white: #fdfffc;
  --font-family-cursive: "Cabin Sketch", cursive;
  --font-family-light: "Oxygen", sans-serif;
  --font-family-sans: "Cabin", sans-serif;
  --font-family-serif: "Bitter", serif;
  --font-size: calc(12px + 0.3vw);
  --line-height: calc(20px + 1vw);
  --spacer: 2.4rem;
  --page-margin: minmax(calc(calc(100% - var(--large)) / 2), 1fr);
}

html {
  background: var(--white);
  box-sizing: border-box;
  font-size: var(--font-size);
}
body {
  background: transparent;
  color: var(--black);
  margin: 0;
  min-width: var(--small);
  overflow-y: scroll;
}
body{
  font-family: var(--font-family-sans);
  font-feature-settings: "kern", "liga", "clig", "calt";
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-kerning: normal;
  font-size: var(--font-size);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-variant-ligatures: common-ligatures;
  font-weight: var(--normal);
  line-height: var(--line-height);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
canvas {
  display: inline-block;
  margin: 0;
  padding: 0;
}
img {
  border-style: none;
  margin: 0;
  max-width: 100%;
  padding: 0;
}
svg:not(:root) {
  overflow: hidden;
}
article,
form,
iframe,
nav,
noscript,
section {
  display: block;
  margin: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}
textarea {
  overflow: auto;
}
button,
input {
  overflow: visible;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
button,
select {
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled,
button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
a {
  background-color: transparent;
  border-bottom: solid 0.1em var(--grey);
  color: var(--grey);
  font: inherit;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
}
a[href]:active,
a[href]:hover {
  outline-width: 0;
}
a[href]:hover {
  border-color: var(--primary);
  color: var(--primary);
  transition: all 0.3s ease-in-out;
}
p {
  margin: 0;
  padding: 0;
  text-indent: 4em;
}
b,
strong {
  font-weight: inherit;
  font-weight: bold;
}
small {
  font-size: 80%;
}
mark {
  background-color: #ff0;
  color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: var(--font-sans-serif), -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
  font-weight: bold;
  line-height: inherit;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 2.369rem;
  line-height:  2.7rem;
  margin-bottom:  1.7rem;
}
h2 {
  font-size: 1.777rem;
  line-height:  2.4rem;
  margin-bottom:  1.7rem;
}
h3 {
  font-size: 1.333rem;
  line-height: 1.9rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.75rem;
}
h6 {
  font-size: 0.563rem;
}
hgroup {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style-position: outside;
  list-style-image: none;
  margin: 0;
  padding: 0;
}
li,
ul li,
ol li {
  padding-left: 0;
}
li > ul,
li > ol {
  margin-left: 1.52rem;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
[hidden] {
  display: none;
}

@media only screen and (max-width: 900px) {
  h1,
  h2 {
    font-size: 1.777rem;
  }
}

/* TOOLBOX */

a[href].site-title,
a[href].nav-link{
  display: inline-block;
  font-size: 1.333rem;
  font-weight: bold;
}

a[href].site-title {
  background: var(--primary);
  border-color: transparent;
  color: var(--white);
  padding: calc(0.8rem + 0.1vw) calc(1rem + 0.1vw);
}

a[href].site-title:hover {
  background: var(--black);
  border-color: var(--black);
  color: var(--white);
}

a[href].nav-link {
  border-color: transparent;
  border-width: 2.9px;
  margin: 0 calc(calc(1rem + 0.1vw) * 2);
  padding-bottom: 4px;
}

a[href].nav-link:hover {
  border-color: var(--primary);
  color: var(--primary);
}

a[href].nav-link-active {
  border-color: var(--black);
  color: var(--black);
}

.button {
  background: var(--black);
  border: none;
  color: var(--white);
  cursor: pointer;
  font-family: var(--font-family-sans);
  z-index: 1000;
}

.button:active,
.button:hover {
  background: var(--primary);
  transition: background 0.3s ease-in-out;
}

.button.primary {
  border-radius: 1.5px;
  display: inline-block;
  padding: 1.52rem;
  text-align: center;
}

.button.round {
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 0;
  width: 30px;
}

.list-inline {
  display: flex;
  align-items: baseline;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.list-inline > * {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-right: 1.52rem;
}

.list-block {
  display: block;
}

.list-block li {
  list-style: none;
}

.title,
.subtitle {
  text-transform: uppercase;
}

.title {
  letter-spacing: 1px;
}

.subtitle {
  background: var(--black);
  color: var(--white);
  font-family: var(--font-family-serif);
  padding: 0.2em 0.8em;
}

/* font-size adjusts based on screen size */

.text {
  font-family: var(--font-family-light);
  font-weight: normal;
  text-indent: 4em;
}

.meta {
  color: var(--grey);
  font-family: var(--font-family-serif);
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
}

.pigment {
  color: var(--primary);
  border-color: var(--primary);
}

.grey {
  color: var(--grey);
}

.bolder{
  font-weight: var(--bolder);
}

.lighter{
  font-weight: var(--lighter);
}

.thin{
  font-weight: 300;
}

.peekaboo {
  background-color: var(--black);
  border-radius: 50%;
  color: var(--white);
  cursor: default;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family-cursive);
  font-size: 20px;
  padding: 0;
  height: 50px;
  width: 50px;
}
