/**
 * Layout css is imported inside /components/layout.js
 *
 * Components from /pages are nested inside the <Layout/> 
 * component meaning the below styles are 
 * de facto applied globally.
 */

.page-grid {
	display: grid;
	grid-auto-flow: row;
	grid-auto-rows: max-content;
	grid-gap: var(--spacer) 0;
	grid-template-columns:
		var(--page-margin)
		[prim-start]
		repeat(7, 1fr)
		[prim-center]
		repeat(7, 1fr)
		[prim-end]
		var(--page-margin);
	margin-bottom: var(--spacer);
}

header,
main,
footer {
	grid-column: prim-start/prim-end;
}

header,
footer{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-top: calc(var(--spacer) + 1vw);
	margin-bottom: 1rem;
}

main {
	display: grid;
	grid-auto-flow: row;
	grid-auto-rows: max-content;
	grid-template-columns:
		[main-start]
		repeat(7, 1fr)
		[main-center]
		repeat(7, 1fr)
		[main-end];
	margin-top: 0;
	margin-bottom: 0;
}