/**
 * About page css
 */

.about {
	grid-column: main-start/main-end;
}

 
h4{
	line-height: 1.9rem;
	font-weight: normal;
}

.about-grid h4{
	margin-bottom: 0;
}
.about-grid {
	display: grid;
	grid-gap: var(--spacer) calc(var(--spacer) * 1.7);
	grid-template-columns: 1fr 1fr;
	margin-top: 1.333rem;
	text-align: justify;
}

p{
	text-indent: 4em;
}

.about-details {
	display: block;
}

.about-details > section {
	padding-top: 1.933rem;
}

.about-details > section:nth-of-type(1) {
	padding-top: 0;
}

@media screen and (max-width: 960px) {
	.about-grid {
		grid-template-columns: 1fr;
	}
}
