/**
 * About page css
 */

.about {
	grid-column: main-start/main-end;
}

.about-grid {
	display: grid;
	grid-gap: 1.333rem var(--spacer);
	grid-template-columns: 1fr 1fr;
	margin-top: 1.333rem;
}

.about-details {
	display: block;
}

.about-details article {
	padding-top: 1.333rem;
}

.about-details article:nth-of-type(1) {
	padding-top: 0;
}

@media screen and (max-width: 960px) {
	.about-grid {
		grid-template-columns: 1fr;
	}
}
