/**
 * Index page css
 */

/* H1 SEO doesn't have height, is hidden, and is transparent (for good measure) */
h1.site-title {
	height: 0;
	line-height: 0;
	margin: 0;
	opacity: 0;
	padding: 0;
	visibility: hidden;
}

/** 
 * Introduction looks more visually pleasing 
 * when it's not spanning the entire width 
 * of <main/> (on large desktop)
 *
 * Introduction uses fade transitions facilitated 
 * by react-spring
 *
 */

.index-intro {
	grid-column: main-start/14;
}

@media screen and (max-width: 960px) {
	.index-intro {
		grid-column: main-start/main-end;
	}
}

/**
 * Updates  
 * 
 */

.index-updates {
	grid-column: main-start/main-end;
}

.index-updates li:last-child h3 {
	font-weight: normal;
}

/** 
 * Social 
 *
 */

.index-social {
	grid-column: main-start/main-end;
	padding: 1.5333rem 0 2.333rem;
}

@media screen and (max-width: 600px) {
	.index-social .title + .list-inline {
		margin-top: 5px;
	}
}

/** 
 * Projects looks more visually pleasing 
 * when it's not spanning the entire width 
 * of <main/> (on large desktop) 
 * 
 * Gallery uses fade transitions facilitated 
 * by react-spring
 */

.index-projects {
	grid-column: main-start/11;
}

.gallery {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-start;
	justify-content: space-between;
}

/* 
individual projects' titles are either 
displayed inline in a row, or in a block, 
using flex
*/

.gallery li > .list-inline {
	align-items: center;
	margin-left: 0;
}

.gallery-controls {
	display: flex;
	justify-content: space-between;
	margin-right: 0;
}

.gallery-controls button {
	margin-right: 1.52rem;
}

.gallery-description {
	min-height: 120px;
}

.gallery-description p {
	margin: 1.933rem 0 1.333rem;
	line-height: 1.38;
}

.gallery-description a {
	line-height: 2;
}

@media screen and (max-width: 960px) {
	.projects {
		grid-column: main-start/main-end;
	}

	.gallery-controls {
		margin-top: 1.333rem;
		order: 10;
	}
}

@media screen and (max-width: 600px) {
	.gallery li > .list-inline {
		align-items: start;
		flex-flow: column;
	}
}
