/**
 * Index page css
 */

/* Introduction */

.intro {
	display: grid;
	grid-template-columns: repeat(14, 1fr);
}

.intro > div{
	grid-column: 1/13;
}

@media screen and (max-width: 992px) {
	.intro > div{
		grid-column: 1/15;
	}
}

/* Social */

.social {
	display: flex;
	align-items: baseline;
	flex-flow: row wrap;
	justify-content: flex-start;
	margin: 0;
}

.social .title{
	margin-right: 1.52rem;
}

@media screen and (max-width: 768px) {
	.social {
		margin-top: 0;
		margin-bottom: 0;
	}

	.social .title + .list-inline{
		margin-top: 5px;
	}
}
  

/* Projects */

.projects {
	margin: 0;
}

.gallery {
	display: grid;
	grid-gap: 1rem var(--spacer);
	grid-template-columns: 250px 1fr;
}

.gallery-preview {
	min-height: 250px;
	position: relative;
}

.gallery-controls {
	display: flex;
	justify-content: space-between;
}

.preview {
	background: var(--pale);
	border: solid 3px black;
	display: flex;
	align-items: flex-end;
	height: 250px;
	padding: 1rem;
	position: absolute;
	width: 250px;
}

.gallery-comment{}

/* Updates */

.updates {
	margin: 0;
}
